@inherits LayoutComponentBase
@layout AccountLayout

<section class="section account-details-section">
    <div class="content account-content">
        <aside class="account-aside">
            <ManageNavMenu />
        </aside>
        <main class="account-form-section">
            @Body
        </main>
    </div>
</section>
